/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');

* {
  background-color: #F0F5F7;
  color: #446B84;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.container-fluid {
    margin-top: 10px
}

.center-align {
    text-align: center;
}
