<div class="container-fluid center-align">
    <!-- Contains the language translation dropdown -->
    <app-translation></app-translation>
    <!-- Contains the language translation dropdown -->
    <div class="welcome">
        <h1>{{'Hello' | translate}}</h1>
        <h3>{{'Click' | translate}}</h3><br>
        <!-- Route to the statistics page -->
        <a routerLink="/statistics">
            <button class="btn btn-lg btn-outline-secondary" type="button">{{'Go' | translate}}</button>
        </a>
    </div>
</div>
