<div class="container-fluid">
    <!-- Contains the language translation dropdown -->
    <app-translation></app-translation>
    <div class="row">
        <div class="col-sm-12">
            <!-- Number input field with button to add a new data entry -->
            <!-- For simplicity, the list accepts upto 5 entries, after which the field gets hidden -->
            <div class="col-sm-4 offset-sm-4">
                <div *ngIf="dataSet.length<=4">
                    <div class="input-group">
                        <input id="entry" type="number" (keyup.enter)="addToDataSet(inputNum)" class="form-control" [(ngModel)]="inputNum" [placeholder]="'Entry' | translate">
                        <button class="btn btn-outline-secondary" type="button" id="button-add" (click)="addToDataSet(inputNum)">{{'Add' | translate}}</button>
                    </div>
                </div>
            </div>
            <!-- A reset button to clear the number list -->
            <!-- Appears when list length > 0 -->
            <div *ngIf="dataSet.length>0">
                <div class="data-body center-align">
                    <button class="btn btn-outline-secondary" type="button" (click)="resetData()">{{'Reset' | translate}}</button>
                </div>
            </div>
            
            <div class="row results">
                <div class="col-sm-6 data">
                    <div class="center-align heading">{{'Dataset' | translate}}</div>
                    <!-- Message displayed when the number list is empty -->
                    <div class="data-body no-data" *ngIf="dataSet.length==0; else numList">{{'Nodata' | translate}}</div>
                    <!-- List displayed when length of list > 0 -->
                    <ng-template #numList>
                        <div class="col-sm-4 offset-sm-4">
                            <table class="data-body table table-striped">
                                <tbody>
                                    <tr *ngFor="let num of dataSet">
                                        <td>{{num}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </ng-template>
                </div>
                <div class="col-sm-6">
                    <!-- A table displaying the required statistics -->
                    <div class="center-align heading">{{'Statistics' | translate}}</div>
                    <div class="data-body col-sm-6 offset-sm-3">
                        <table style="text-align: left;" class="data-body table table-striped">
                            <tbody>
                                <tr>
                                    <td>{{'Average' | translate}}</td>
                                    <td>{{avg}}</td>
                                </tr>
                                <tr>
                                    <td>{{'Median' | translate}}</td>
                                    <td>{{median}}</td>
                                </tr>
                                <tr>
                                    <td>{{'Standard Deviation' | translate}}</td>
                                    <td>{{stdDev}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            
        </div>
        <!-- Button that navigates to home page -->
        <div class="center-align">
            <a data-bs-toggle="tooltip" data-bs-placement="bottom" [title]="'Homett' | translate" routerLink="/home">{{'Home' | translate}}</a>
        </div>
    </div>
    
</div>
